<html lang="en">

<head>
    <% include ../helpers/head %>
</head>

<body>
    <% include ../helpers/nav %>
        <div class="page-header">
            <h1>About Me</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Hi, i'm Sam. I'm 24 years old, I currently live in Wrexham but im from a small town in the Peak District
                        my hobbies include, Hiking and camping, collecting and playing boardgames, nature Photography and programming.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="progress-bar"></div>
                </div>
            </div>
        </div>
</body>

</html>