<html lang="en">

<head>
    <%- include ('../helpers/head') %>
</head>

<body>
    <%- include ('../helpers/nav') %>
        <div class="page-header">
            <h1 class="h1">About Me</h1>
        </div>
        <h2 class="h2">Which values are the most important me</h2>
        <div class="container shadow mt-2">
            <div class="col-12 colour-slide-one jumbotron jumbotron-fluid slide-shade-one p-0">Hardwork</div>
            <div class="col-12 colour-slide-two jumbotron jumbotron-fluid slide-shade-two p-0">Learning something new</div>
            <div class="col-12 colour-slide-three jumbotron jumbotron-fluid slide-shade-three p-0">Resiliance</div>
            <div class="col-12 colour-slide-four jumbotron jumbotron-fluid slide-shade-four  p-0">Family</div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-12 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <h3 class="mt-3 h3">A little bit more about me</h3>
                <h4 class="mt-3 h4">Pre 2017</h4>
                <p>
                    I grew up in a small farming village in the Staffordshire Moorlands Peak District, with my parents
                    and two brothers.
                    My youngest brother has down-syndrome. During this time, I spend a lot of time outdoors. Walking
                    and camping. In school, I developed a passion for
                    art and technology. Taking both at GCSE and A level. I developed a working knowledge of building and
                    repairing my desktop pcs and laptops.
                    Through my research, helping my dad and through study. In 2017 I build my first PC. To
                    create the desired build,
                    I started by researching the different components and peripherals which were the best for my budget.
                    I then used youtube to help direct me
                    on how to install the hardware. To install the software, I used my knowledge. I ran into a few
                    issues when building such as the PSU not functioning as intended.
                    which was due to a faulty power cable. I also ran into a problem with the GPU but managed to fix it
                    by updating the driver. Since then, I have gone
                    on to install additional RAM and install an SSD for better boot time and performance. I run regular
                    os and Diver updates. I also enjoy gaming which led me recently refurbish an old
                    Gameboy Advance. replacing the shell, buttons and screen. My A-level's was the first time I
                    encountered coding. Learning the basics of HTML and CSS. I also studied units on
                    business data management using Microsoft EXCEL.
                </p>
            </div>
            <div class="col-12 mt-3 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <h4 class="mt-3 h4">2017-2020</h4>
                <p>
                    In 2017, I went to university, initially, I studied Graphic Design at the University of Derby. However, I
                    transferred to Wrexham at the start of 2018. To be close to my partner and support her as she became
                    homeless.
                    This time was probably one of the hardest parts of my life so far. But we both wouldn't be where we are
                    today if it hadn't happened.
                    We spent a lot of time in my then-student accommodation. She lived in a homeless hostel in Wrexham. In
                    2019 we moved into our flat thanks to Clywd Alyn housing association.
                    For my degree dissertation, I decided to explore the relationship that art has with technology and
                    whether putting art in different formats added or took away from its experience.
                    I created a mock virtual gallery using Blender. I received the mark of 1st for my dissertation.
                </p>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <h4 class="mt-3 h4">After University 2020</h4>
                    <p>
                        After University, I spend a lot of my time working in retail. I've learnt a lot of key skills in the
                        Jobs roles that I have had.
                        The main ones being
                    </p>
                    <h5 class="mt-3 h5">Time management</h5>
                    <p>
                        I've been able to develop my personal time management to a high standard. The steps I take to
                        manage my time are to first,
                        assess the task. Determine if it's a priority. I would usually have around 5 different tasks
                        during the day. Priority is how it affects the customer.
                        I then make either a mental or physical note of the task. Working on how long the task will take vs
                        how much time do I have?
                        For example, If I had to work 20 cages of produce, reduce items on RTC, help out on tills/self-service and dress the store. I would take the following approach
                        to calculate how long it will take to complete each task.
                    </p>
                    <p>
                        work out how long I have to work each cage, discuss my plan with colleagues, learning
                        which tasks they were going to be doing. This was important because it allowed us to create a
                        support system for each other. So if I or another colleague completed a task early we were able
                        to help support each other.
                        work each cage within the time set I created for myself. start new tasks when they became the
                        priority.
                        The reductions had a set time they needed to be started and completed. So at 6 pm, they became
                        the priority. Whenever a colleague needed help serving customers that would always take top
                        priority.
                        Dressing the store would also be the final task of the day. Taking the least priority.
                        Taking this approach allows me to almost always meet my targets.
                    </p>

                    <h5 class="mt-3 h5">Communication</h5>
                    <p>
                        Working in retail has also allowed me to develop my communication skills, both with colleagues
                        and customers, I spoke in the previous paragraph about
                        how I was able to create good relationships with my colleagues and be someone who could be relied
                        upon within the team. Outside of work we still have good relationships.
                        I was also able to develop this skill with customers. I do this by being a friendly face and
                        trying to give them the support that they need.
                        I'm able to use my emotional intelligence to determine how the customer might be feeling. For
                        example, if they're frustrated I found that often the best approach is to be friendly and listen,
                        then help them. Sometimes this would involve showing them how something works such as a self-service machine. Or other times if they're in a rush fixing their issue quickly so that they can
                        go about their day.
                        Giving excellent customer service.
                    </p>
                    <p>
                        A lot of this experience came from my time working in the COOP as part of a small team of about
                        20 people, however, there would normally be 4-5 people on a shift including management.
                        I've been able to use the skills learnt in this role in all my roles. Before I worked in the
                        COOP I received an employee of the month award for my customer service and hard work whilst I
                        worked front of house in Mcdonalds.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <h4 class="mt-3 h4">2022-2023</h4>
                    <p>
                        last year I decided that I wanted to have a career change from art as although it's something I
                        enjoy I realised that it wasn't
                        something that I necessarily wanted to have a career in. So I started researching different
                        courses and ways of changing career paths. I found out about PLA courses and
                        enrolled on a course in web development. I thought that it would be a good way to combine both
                        my passions for technology and creativity. I've been able to develop
                        skills with HTML, CSS, Javascript and Python as well as soft skills such as problem-solving. I
                        now realise that
                        I want to work in an IT-related field. Id love an opportunity to become an apprentice and
                        learn more skills in IT.
                        I think that the skills that already have along with my resilient and hardworking nature would
                        make me an excellent employee. I'm someone who is not afraid to ask if I don't know something
                        taking any opportunity to learn and self-develop.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <p>
                        What drives me
                        Family is the most important thing to me, in my spare time I love spending time with my family,
                        Last year I walked Hadrian's wall with my brother.
                        Hard work I know that hard work is the main part of being successful and working hard is something
                        I enjoy it because it makes me feel satisfied when I solve a problem or learn something new.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 mb-3 shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <h4 class="mt-3 h4">Bonus</h4>
                    <p>A few of my hobbies include hiking, programming, reading and collecting/playing old board games
                    </p>
                    <h5 class="h5">Thank you for reading</h5>
                </div>
            </div>
        </div>
    <%- include ('../helpers/footer') %>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/139645818.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>