<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
    <div id="loader">
      <div id="loader-content">
        <button type="button" class="btn btn-primary btn-lg" onclick="removeLoader()">Welcome</button>
      </div>
    </div>
    <% include ../helpers/nav %>
    <div class="page-header">
      <h1>Home</h1>
    </div>
</body>

</html>