<html lang="en">

<head>
  <%- include ('../helpers/head') %>
</head>

<body>
    <div id="loader">
      <div id="loader-content">
        <button type="button" class="btn btn-primary btn-lg" id="welcome-button">View Site</button>
      </div>
    </div>
    <%- include ('../helpers/nav') %>
    <div class="page-header">
      <h1 class="h1">Home</h1>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center m-5">
        <div class="col-sm-12 col-md-6">
          <div id="hero-container">
            <img src="/images/hero-image.jpg" alt="hero-image" id="hero-img" class="shadow">
          </div>
        </div>
      </div>
      <div class="row m-5 shadow">
        <div class="col-12" data-aos="fade-in">
            <p>Hi, i'm Sam. I'm 25 years old, 
                I developed this site as part of my active learning in web devlopment, to showcase some of my skills and to tell you a little bit more about myself. 
                click the links below to see a little bit more about me and some of the projects I've worked on.
                I hope you enjoy!
            </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-12 jumbotron jumbotron-fluid p-0">About</div>
      <div class="col-12 jumbotron jumbotron-fluid p-0">Projects</div>
      <div class="col-12 jumbotron jumbotron-fluid p-0">CV</div>
    </div>
    <%- include ('../helpers/footer') %>
</body>

</html>