<html lang="en">

<head>
    <%- include ('../helpers/head') %>
</head>

<body>
    <%- include ('../helpers/nav') %>
        <div class="page-header">
            <h1>Projects</h1>
        </div>
        <div class="container-fluid overflow-hidden" id="project-page-content">
            <div class="row" id="project-animation-display-area">
                <div class="col-sm-12 col-lg-4 p-5 shadow" id="sld-left" data-aos="fade-right">
                    <span class="project-container">
                        <img class="project-img" src="/images/the-dungeon-maze.jpg" alt="the-dungeon-maze">
                    </span>
                </div>
                <div class="col-sm-12 col-lg-4 p-5 shadow" id="sld-top" data-aos="fade-up">
                    <span class="project-container">
                        <img class="project-img" src="/images/station-cat.jpg" alt="station-cat">
                    </span>
                </div>
                <div class="col-sm-12 col-lg-4 p-5 shadow" id="sld-right" data-aos="fade-left">
                    <span class="project-container">
                        <img class="project-img" src="/images/art-by-jamie.jpg" alt="art-by-jamie">
                    </span>
                </div>
            </div>
            <h2 class="fade-inital mt-5" data-aos="fade-up" data-aos-delay="2500">Finished Projects</h2>
            <div class="row justify-content-center">
                <div class="col-8 mt-5 pb-5 shadow fade-inital" data-aos="fade-up" data-aos-delay="2500">
                    <span>The Dunegon Maze</span>
                    <a href="https://github.com/SamHulme1/the-dungeon-maze" target="_blank">
                        <span class="project-container">
                            <img class="project-img" src="/images/the-dungeon-maze.jpg" alt="the-dungeon-maze">
                        </span>
                    </a>
                </div>
                <div class="col-8 mt-5 pb-5 shadow fade-inital" data-aos="fade-up" data-aos-delay="2500">
                    <div>Station Cat</div>
                    <a href="https://stationc4t.herokuapp.com/" target="_blank">
                        <span class="project-container">
                            <img class="project-img" src="/images/station-cat.jpg" alt="station-cat">
                        </span>
                    </a>
                </div>
                <div class="col-8 mt-5 pb-5 shadow fade-inital" data-aos="fade-up" data-aos-delay="2500" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <span>Art by Jamie</span>
                    <a href="https://samhulme1.github.io/art-by-jamie/" target="_blank">
                        <span class="project-container">
                            <img class="project-img" src="/images/art-by-jamie.jpg" alt="art-by-jamie">
                        </span>
                    </a>
                </div>
            </div>
            <h3 class="mt-5 fade-inital" data-aos="fade-up" data-aos-delay="2500">Projects in the works</h3>
            <div class="row justify-content-center">
                <div class="col-8 mt-5 pb-5 shadow fade-inital" data-aos="fade-up" data-aos-delay="2500">
                    <span>Tavern</span>
                    <a href="https://github.com/SamHulme1/Project-4-online-store" target="_blank">
                        <span class="project-container">
                            <img class="project-img" src="/images/art-by-jamie.jpg" alt="art-by-jamie">
                        </span>
                    </a>
                </div>
            </div>
            
            <h3 class="mt-5 fade-inital" data-aos="fade-up" data-aos-delay="2500">Collaboration Project</h3>
            <div class="row justify-content-center">
                <div class="col-8 mt-5 pb-5 shadow fade-inital" data-aos="fade-up"  data-aos-delay="2500">
                    <span>Plugged-in</span>
                    <a href="https://github.com/SamHulme1/stay-connected-hackathon" target="_blank">
                        <span class="project-container">
                            <img class="project-img" src="/images/art-by-jamie.jpg" alt="art-by-jamie">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        
</body>

</html>