<footer id="footer">
    <div class="container-fluid sticky-bottom pb-4">
        <div class="row">
            <div class="col-4 p-2">
              <a href="https://github.com/SamHulme1" target="_blank" class="h3 text-light"><i class="fa-brands fa-github"></i><span class="sr-only">twitter link</span></a>
            </div>
            <div class="col-4 p-2">
              <a href="https://www.linkedin.com/in/sam-hulme-b0a860217/" target="_blank" class="h3 text-light"><i class="fa-brands fa-linkedin-in"></i><span class="sr-only">twitter link</span></a>
            </div>
            <div class="col-4 p-2">
              <a href="https://uk.indeed.com/" target="_blank" class="h3 text-light"><i class="fa-solid fa-info"></i><span class="sr-only">twitter link</span></a>
            </div>
        </div>
    </div>
  </footer>